@using TareasMVC.Entidades
@using TareasMVC.Models.Renec
@using TareasMVC.Servicios
@model PaginacionRespuestaModel<RENEC>;
@{
    ViewData["Title"] = "RENEC";
}

<h1>RENEC</h1>

@if (User.IsInRole(Constantes.RolAdmin))
{
    
    <div class="mb-3">
        <a asp-action="Agregar" class="btn btn-primary">Agregar</a>
    </div>
}


@if (Model.Mensaje is not null)
{
    <div class="alert alert-success" role="alert">
        @Model.Mensaje
    </div>
}

@if(Model.Registros.Count == 0)
{
    <div style="display:flex; justify-content:center; align-items:center;">
        <p class="fw-bold" style="">No se obtienene registros de certificaciones</p>
    </div>
}
else{
  <partial name="_Paginacion"/>  
  <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nivel</th>
                <th>Titulo</th>
                <th>Comite</th>
                <th>Sector_Productivo</th>
                <th>sector</th>
                <th>acceso</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody id="contenedor-botones">
            @foreach (var renec in Model.Registros)
            {
                var accesoClass = "table-light";
                if (renec.acceso == "Restringido")
                {
                    accesoClass = "table-danger";
                }
                else if (renec.acceso == "Opinion")
                {
                    accesoClass = "table-warning";
                }
                <tr id="fila-@renec.Codigo" class="align-middle @accesoClass">
                    <td>@renec.Codigo</td>
                    <td>@renec.Nivel</td>
                    <td>@renec.Titulo</td>
                    <td>@renec.Comite</td>
                    <td>@renec.Sector_Productivo</td>
                    <td>@renec.sector</td>
                    <td>@renec.acceso</td>
                    <td>
                        <div style="display:flex; gap:1rem; flex-direction:column;">
                            @if (User.IsInRole(Constantes.RolAdmin))
                            {
                                <a asp-action="Editar" asp-route-codigo="@renec.Codigo" class="btn btn-sm btn-secondary">Editar</a>
                                <a asp-action="Eliminar" asp-route-codigo="@renec.Codigo" class="btn btn-sm btn-danger">Eliminar</a>
                                <a asp-action="Ver" asp-route-codigo="@renec.Codigo" class="btn btn-sm btn-info">Ver</a>
                            }
                            else
                            {
                              <a asp-action="Ver" asp-route-codigo="@renec.Codigo" class="btn btn-sm btn-info">Ver</a>
                            }
                        </div>

                        @* <button type="button" class="btn btn-sm btn-danger"
                                data-id="@renec.Codigo"
                                data-nombre="@renec.Codigo">
                            Eliminar
                        </button> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}