@model EvaluacionesViewModel; 
@{
    ViewData["Title"] = "Evaluaciones";
}

<h1 class="mb-2">Evaluaciones</h1>

<div class="mb-3">
    <a asp-action="Agregar" class="btn btn-primary">Agregar Evaluaciones</a>
</div>


@if (Model.Evaluaciones.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col text-black">No se encontraron registros de evaluaciones</div>
        </div>
    </div>
}
else
{

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del Candidato</th>
            <th>Fecha de Evaluacion</th>
            <th>Evaluador</th>
            <th>Terminal</th>
            <th>Observaciones</th>
            <th>Años de experiencia o Número de equipo</th> 
            <th>Fotografía URL</th>
            <th>Preguntas/Respuestas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="contenedor-botones">
        @foreach (var evaluacion in Model.Evaluaciones)
        {
            <tr id="fila-@evaluacion.Id">
                <td>@evaluacion.NombreEvaluado @evaluacion.ApellidoEvaluado</td>
                <td>@evaluacion.FechaEvaluacion.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@evaluacion.Evaluador.NombreEvaluador</td>
                <td>@evaluacion.Terminal.AbreviaturaTerminal</td>
                <td>@evaluacion.Observaciones</td>
                <td>@evaluacion.ExperienciaoNumeroEquipo</td>
                <td>@evaluacion.FotosAdjuntas</td>
                <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <span class="badge text-bg-light fw-normal">@evaluacion.RespuestasJson</span>
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@evaluacion.Id" class="btn btn-sm btn-primary">Editar</a>
                    <button type="button" class="btn btn-sm btn-danger"
                            data-id="@evaluacion.Id"
                            data-nombre="@evaluacion.FechaEvaluacion">
                        Eliminar
                    </button>
                    <a asp-action="Ver" asp-route-id="@evaluacion.Id" class="btn btn-sm btn-secondary">Ver</a>
                </td>
            </tr>
        }
    </tbody>
</table>

}

