@model EvaluacionViewModel; 
@{
    ViewData["Title"] = "Ver Evaluación";
}
<h1 class="mb-5">Ver Evaluación @Model.FechaEvaluacion.ToString("yyyy-MM-dd HH:mm")</h1>
<div class="card mt-5">
    <div class="card-body">
        <div class="mb-4">
            <label class="form-label fw-bold">Evaluador</label>
            <input type="text" class="form-control" value="@Model.Evaluador.NombreEvaluador @Model.Evaluador.ApellidosEvaluador" disabled />
        </div>
        <div class="mb-4">
            <label class="form-label fw-bold">Terminal</label>
            <input type="text" class="form-control" value="@Model.Terminal.AbreviaturaTerminal" disabled />
        </div>
        <div class="mb-4">
            <label class="form-label fw-bold">Fecha de Evaluación</label>
            <input type="text" class="form-control" value="@Model.FechaEvaluacion.ToString("yyyy-MM-dd HH:mm")" disabled />
        </div>
        <div class="mb-4">
            <label class="form-label fw-bold">Nombre del Evaluado</label>
            <input type="text" class="form-control" value="@Model.NombreEvaluado @Model.ApellidoEvaluado" disabled />
        </div>
    </div>
</div>
       